body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.player {
    border: 1px solid #333;
    padding: 10px;
    width: 300px;
}

.hand {
    display: flex;
    flex-wrap: wrap;
}

/*
.card {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
}
*/
.card {
    width: 60px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.corner {
    position: absolute;
    top: 2px;
    left: -2px;
    width: 7px;
    height: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    text-align: center;
    font-size: 10px;
}

.top {
    top: auto;
    bottom: 4px;
    transform: rotate(180deg);
    left: 42px;
}

.number {
    font-weight: bold;
    top: -7px;
    position: relative;
    left: 2px;
}

.center {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    align-items: center;
    top: 18px;
    position: inherit;
}

.suit {
    font-size: 18px;
    position: relative;
    top: -11px;
    left: 0px;
}

/* Adicione estilos para o "morto" dos jogadores */
.discard {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Adicione estilos específicos para o "morto" */
#deadPile1,
#deadPile2 {
    border: 1px solid #ff0000;
    /* Borda vermelha para o "morto" do jogador 1 e jogador 2 */
}

/* Estilos para o monte de compra */
#drawPile {
    
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #f0f0f0;
    /* Cor de fundo cinza para o monte de compra */
    font-weight: bold;
}
.card-back {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    width: 60px; /* Largura da carta */
    height: 80px; /* Altura da carta */
    background: 
        linear-gradient(45deg, transparent 10%, #007BFF 10%, #007BFF 20%, transparent 20%),
        linear-gradient(120deg, transparent 10%, #007BFF 10%, #007BFF 20%, transparent 20%);
    background-size: 5px 5px; /* Tamanho do padrão */
    position: relative; /* Posição relativa para conteúdo adicional */
}

/* Conteúdo adicional na parte de trás da carta (por exemplo, um logotipo) */
.card-back::before {

    font-size: 12px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.draw {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
.trash{

}
.mesa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


.naipeRed{
    color: red;
}
.naipeBlack{
    color: black;
}