body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(../img/mesa.jpg);
}

.game {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: stretch;
}

.player {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 500px;
}

.hand {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 35px;
}

.card {
    width: 60px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 24px;
    background-color: white;
}

.corner {
    position: absolute;
    top: 2px;
    left: -2px;
    width: 7px;
    height: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    text-align: center;
    font-size: 10px;
}

.top {
    top: auto;
    bottom: 4px;
    transform: rotate(180deg);
    left: 42px;
}

.number {
    font-weight: bold;
    top: -7px;
    position: relative;
    left: 2px;
}

.center {
    display: flex;
    justify-content: space-around;
    font-size: 36px;
    align-items: center;
    top: 18px;
    position: inherit;
}

.suit {
    font-size: 18px;
    position: relative;
    top: -11px;
    left: 0px;
}

/* Adicione estilos para o "morto" dos jogadores */
.trash {
    font-size: 12px;
    color: white;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
}
.discard-trash {
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    padding-left: 35px;
}
.discard {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

/* Adicione estilos específicos para o "morto" */
#deadPile1,
#deadPile2 {
    border: 1px solid #ff0000;
    /* Borda vermelha para o "morto" do jogador 1 e jogador 2 */
}

/* Estilos para o monte de compra */
#drawPile {

    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    text-align: center;
    background-color: #f0f0f0;
    font-weight: bold;
}

.card-back {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
    width: 60px;
    height: 80px;
    background-image: url(../img/carta-tras-blue-p.png);
    background-size: 60px 80px;
    position: relative;
}

.card-back::before {
    font-size: 12px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.draw {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    color: white;
}



.mesa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}


.naipeRed {
    color: red;
}

.naipeBlack {
    color: black;
}

.hand .card {
    margin-left: -35px;
    /* Ajuste o valor conforme necessário para controlar o espaçamento horizontal */
    position: relative;
}

.card.highlighted {
    transform: translateY(-10px);
    /* Move a carta 10px acima quando destacada */
    /*z-index: 1;
    /* Coloca a carta acima das outras quando destacada */
    cursor: pointer;
    /* Muda o cursor para indicar que a carta é clicável */
}
.left35{
    margin-left: -35px;
}
.current-player{
    color: red;
    font-size: 20px;
    font-size: bolder;
}